<%- include('../partials/header') %>

<h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
    <label>Airline:
        <select name="Airlines" selected>
            <option value="Volaris">Volaris</option>
            <option value="Frontier">Frontier</option>
            <option value="Southwest">Southwest</option>
            <option value="Spirit">Spirit</option>
            <option value="Jetblue">Jetblue</option>
        </select>
    </label><br>
    <label>Airport
        <select name="Airport" selected>
            <option value="MEX">MEX</option>
            <option value="NRT">NRT</option>
            <option value="YVR">YVR</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
    </label><br>
    <label>Flight Number
      <input type="number" name="flightNo">
    </label><br>
    <label>Departs
      <input type="datetime-local" name="departs">
    </label><br>
  </form>
  
  <%- include('../partials/footer') %>
  